.navbar-collapse {
    max-width: 220px;
}

.header {
    padding: 2rem 4rem;
    color: white;
    background: rgb(74, 150, 254);
    background: -moz-linear-gradient(36deg, rgba(74, 150, 254, 1) 0%, rgba(74, 150, 254, 1) 39%, rgba(135, 97, 246, 1) 100%);
    background: -webkit-linear-gradient(36deg, rgba(74, 150, 254, 1) 0%, rgba(74, 150, 254, 1) 39%, rgba(135, 97, 246, 1) 100%);
    background: linear-gradient(36deg, rgba(74, 150, 254, 1) 0%, rgba(74, 150, 254, 1) 39%, rgba(135, 97, 246, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a96fe", endColorstr="#8761f6", GradientType=1);
}

html,
body {
    margin: 0;
}

.shop {
    background: rgb(70, 154, 255);
    background: -moz-linear-gradient(149deg, rgba(70, 154, 255, 1) 0%, rgba(98, 131, 251, 1) 50%, rgba(134, 99, 247, 1) 100%);
    background: -webkit-linear-gradient(149deg, rgba(70, 154, 255, 1) 0%, rgba(98, 131, 251, 1) 50%, rgba(134, 99, 247, 1) 100%);
    background: linear-gradient(149deg, rgba(70, 154, 255, 1) 0%, rgba(98, 131, 251, 1) 50%, rgba(134, 99, 247, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#469aff", endColorstr="#8663f7", GradientType=1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content-container {
    width: 90%;
    min-height: 100vh;
}

.go-back {
    position: absolute;
    left: 0;
    top: 40px;
    cursor: pointer;
    z-index: 99999;
}

.go-back .go-back-icon {
    color: #fff;
    font-size: 90px;
    font-family: cursive;
    line-height: 40px;
}

.go-back:hover .go-back-icon {
    color: #eeeeee;
}

.page-title {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title h1 {
    text-align: center;
    color: white;
}

.content {
    background: white;
    border-radius: 7px;
    color: rgba(74, 150, 254, 1);
    min-height: 80vh;
}

.content h2 {
    text-align: center;
    padding: 3rem 0 2rem 0;
}

ul {
    list-style: none;
    width: auto;
    margin-bottom: 0 !important;
    text-indent: 5px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button a {
    background: -moz-linear-gradient(36deg, rgba(74, 150, 254, 1) 0%, rgba(74, 150, 254, 1) 39%, rgba(135, 97, 246, 1) 100%);
    background: -webkit-linear-gradient(36deg, rgba(74, 150, 254, 1) 0%, rgba(74, 150, 254, 1) 39%, rgba(135, 97, 246, 1) 100%);
    background: linear-gradient(36deg, rgba(74, 150, 254, 1) 0%, rgba(74, 150, 254, 1) 39%, rgba(135, 97, 246, 1) 100%);
    padding: 13px;
    color: white;
    width: 150px;
}

.options {
    padding: 0 1rem;
}

.options .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.options .option {
    background: rgb(70, 154, 255);
    background: -moz-linear-gradient(90deg, rgba(70, 154, 255, 1) 0%, rgba(98, 131, 251, 1) 50%, rgba(134, 99, 246, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(70, 154, 255, 1) 0%, rgba(98, 131, 251, 1) 50%, rgba(134, 99, 246, 1) 100%);
    background: linear-gradient(90deg, rgba(70, 154, 255, 1) 0%, rgba(98, 131, 251, 1) 50%, rgba(134, 99, 246, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#469aff", endColorstr="#8663f6", GradientType=1);
    -webkit-box-shadow: 0px 0px 14px -2px rgba(88, 141, 253, 0.77);
    box-shadow: 0px 0px 14px -2px rgba(88, 141, 253, 0.77);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: white;
    width: 100%;
    padding: 0.3rem;
    margin: 0.5rem;
    cursor: pointer;
    font-weight: 400;
}

.options .option:hover {
    background: rgb(70, 154, 255);
    background: -moz-linear-gradient(90deg, rgb(99, 167, 255) 0%, rgb(112, 149, 255) 50%, rgb(161, 134, 255) 100%);
    background: -webkit-linear-gradient(90deg, rgb(99, 167, 255) 0%, rgb(112, 149, 255) 50%, rgb(161, 134, 255) 100%);
    background: linear-gradient(90deg, rgb(99, 167, 255) 0%, rgb(112, 149, 255) 50%, rgb(161, 134, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#469aff", endColorstr="#8663f6", GradientType=1);
}

.options .option:after {
    content: 'x';
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    position: absolute;
    right: 15px;
    font-weight: 500;
}

.options .option .selected-option {
    margin: 0 !important;
}

.rcontent .row {
    margin: 2rem 0 !important;
}

.rcontent .check-item {
    margin: 0.5rem;
    cursor: pointer !important;
    font-size: 26px;
}

.rcontent .check-item:hover {
    color: #3d7cfc;
}

/*.rcontent .check-item:after {*/
/*    content: '>';*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    align-items: center;*/
/*    color: #568dfd;*/
/*    position: absolute;*/
/*    right: -20px;*/
/*    top: 0;*/
/*    font-weight: 500;*/
/*}*/

.btn-sub {
    color: white;
    font-weight: 500;
    margin: 1rem;
    border: none !important;
    outline: none !important;
}

.btn-sub:hover {
    color: white !important;
    font-weight: 500;
    -webkit-box-shadow: 0px 0px 14px -2px rgba(88, 141, 253, 0.77);
    box-shadow: 0px 0px 14px -2px rgba(88, 141, 253, 0.77);
}

.form {
    padding: 0 5rem;
}

.form .form-input {
    margin: 2rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px !important;
    border: 1px solid lightgray;
    min-height: 42px;
}

.form .form-input.upload {
    padding: 0 10px !important;
    color: rgb(207, 207, 207) !important;
}

.form-control {
    padding: 20px 10px !important;
    color: rgb(129, 129, 129) !important;
    border: none;
}

input[type='file'] {
    display: none;
}

.upload-file-btn {
    position: absolute;
    right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background: #588cfd;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-file-btn:hover {
    background: #729dfd;
}

.form-control::placeholder {
    color: rgb(207, 207, 207) !important;
    text-align: left !important;
    opacity: 1;
}

.form-control:focus {
    box-shadow: none !important;
}

.pricing {
    color: lightgray;
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-i {
    border: 1px solid lightgray;
    margin: 0 0.5rem;
    border-radius: 8px;
}

.check_content {
    padding: 5px 50px 5px 15px;
    color: lightgrey;
}

.input-header span {
    color: #646464;
}

.product-input {
    border: none;
    min-height: 45px;
    padding: 15px;
    color: #646464;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 19px -2px rgba(12, 48, 99, 0.39);
    box-shadow: 0px 0px 19px -2px rgba(12, 48, 99, 0.39);
    outline: none !important;
}

.product-input::placeholder {
    color: lightgray;
}

.text-area {
    min-height: 200px;
}

.upload-box {
    border-radius: 5px;
    padding: 1rem;
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 19px -2px rgba(12, 48, 99, 0.39);
    box-shadow: 0px 0px 19px -2px rgba(12, 48, 99, 0.39);
    outline: none !important;
}

.upload-box .upload-input-text {
    color: #646464;
}

.upload-box .preview-img {
    height: 100%;
    width: 100%;
}

.upload-box .upload-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background: #588cfd;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 0px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.container-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    right: -42px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid lightgray;
    margin-left: 10px;
}


/* On mouse-over, add a grey background color */

.container-box:hover input ~ .checkmark {
    background-color: #fff;
}


/* When the checkbox is checked, add a blue background */

.container-box input:checked ~ .checkmark {
    background: -moz-linear-gradient(36deg, rgba(74, 150, 254, 1) 0%, rgba(74, 150, 254, 1) 39%, rgba(135, 97, 246, 1) 100%);
    background: -webkit-linear-gradient(36deg, rgba(74, 150, 254, 1) 0%, rgba(74, 150, 254, 1) 39%, rgba(135, 97, 246, 1) 100%);
    background: linear-gradient(36deg, rgba(74, 150, 254, 1) 0%, rgba(74, 150, 254, 1) 39%, rgba(135, 97, 246, 1) 100%);
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container-box input:checked ~ .checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container-box .checkmark:after {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #fff;
    height: 12px;
    width: 12px;
    left: 8px;
    top: 5px;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*@media only screen and (min-width: 1500px) {*/
/*    .rcontent {*/
/*        padding: 5rem;*/
/*    }*/

/*    .content {*/
/*        padding: 2.5rem;*/
/*    }*/

/*    li {*/
/*        width: 350px;*/
/*        padding: 15px;*/
/*        font-size: 2rem;*/
/*    }*/

/*    .form {*/
/*        padding: 3rem;*/
/*    }*/

/*    .form .form-control {*/
/*        width: 350px;*/
/*        margin-bottom: 1.7rem;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 1120px) and (max-width: 1500px) {*/
/*    .rcontent {*/
/*        padding: 1rem;*/
/*    }*/

/*    .content {*/
/*        padding: 1.5rem;*/
/*    }*/

/*    li {*/
/*        width: 300px;*/
/*        padding: 10px;*/
/*        font-size: 1.7rem;*/
/*    }*/

/*    .form {*/
/*        padding: 1rem;*/
/*    }*/

/*    .form .form-control {*/
/*        width: 350px;*/
/*        margin-bottom: 1.2rem;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 800px) and (max-width: 1120px) {*/
/*    .rcontent {*/
/*        padding: 2rem;*/
/*    }*/

/*    .content {*/
/*        padding: 1rem;*/
/*    }*/

/*    li {*/
/*        width: 250px;*/
/*        padding: 1rem;*/
/*        font-size: 1.2rem;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 800px) {*/
/*    .content {*/
/*        padding: 1rem;*/
/*    }*/

/*    .content-container {*/
/*        padding: 1rem;*/
/*    }*/

/*    li {*/
/*        width: 300px;*/
/*        padding: 1rem;*/
/*        font-size: 1.6rem;*/
/*    }*/

/*    .form .form-control {*/
/*        margin-bottom: 1rem;*/
/*    }*/

/*    .form {*/
/*        margin-top: 20px;*/
/*    }*/
/*}*/

@media (max-width: 1024px) {
    .form {
        padding: 0 2rem !important;
    }

}
